body {
    background-color: #ededed;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

.footer {
    height: min-content;
    text-align: center;
    margin-top: 9vh;
}

.calculator {
    background-color: #c4c4c4ce;
    border: solid;
    border-radius: 20px;
    width: 400px;
    height: 690px
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    height: 15vh;
    border: solid;
    margin: 1rem;
}

.lastOperationScreen {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    height: 50%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.currentOperationScreen {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    height: 50%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.control {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-bottom: 0;
    height: 10vh;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    height: 34vh;
}

/*  */

.control button {
    border: solid;
    border-radius: 15px;
    width: 45%;
    height: 5rem;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.clear {
    background-color: #f3aeae;

}

.delete {
    background-color: #948dff;
}

/*  */

.numbers button {
    display: flex;
    justify-content: center;
    background-color: #ededed;
    border: solid;
    border-radius: 15px;
    margin: 0 6px;
    height: 5rem;
    width: 5rem;
}

.numbers button {
    font-family: sans-serif;
    margin-top: 18px;
    font-size: 40px;
    font-weight: 300;
}

/*  */